* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family:'lucida handwriting';
    font-size: 120%;
}
.app-main{
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.searchInputBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

input.input-box{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

.input-box:focus {
    background-color: rgba(255,255,255);
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
button:hover {
    background: #7c7c7c6b;
}

.location-details {
    font-weight: bold;
}

.weather-status {
    padding: 20px;
}

.temp {
    font-size: 40pt;
    font-weight: 700;
    margin: 10px 0;
    text-shadow: 2px 4px rgba(0,0,0,0.3);
}

.min-max {
    font-size: 12pt;
    font-weight: 600;
}

.flex{
    display: flex;
    align-items: center;
}
.weather{
    text-transform: capitalize;
    margin: 0px 0px 10px;
    font-size: 20pt;
    font-weight: 700;
}
